<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>{Title}</title>
<meta name="HandheldFriendly" content="True" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" type="text/css" href="/css/site.css" />
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic|Open+Sans:700,400" />
<meta property="og:site_name" content="Rush Frisby" />
<meta property="og:type" content="article" />
<meta property="og:title" content="{Title}" />
<meta name="twitter:title" content="{Title}" />
<meta name="twitter:data1" content="Rush Frisby" />
</head>
<body class="post-template">
<header id="header">
<nav class="header-nav" ">
<div class="blog-title"><a href="/">Rush Frisby</a></div>
<div class="blog-description">Thoughts on software and technology.</div>

<div class="taglist-wrapper clearfix">
<ul id="taglist" class="taglist">
<li class="nav-home" role="presentation">
<a href="/">Home</a>
</li>
<li class="nav-about" role="presentation">
<a href="/about">About</a>
</li>
<li class="nav-mechanical-keyboards" role="presentation">
<a href="/keyboards">Keyboards</a>
</li>
<li class="nav-about" role="presentation">
<a href="/tags">Tags</a>
</li>
<li class="nav-about" role="presentation">
<a href="/archive">Archive</a>
</li>
</ul>
</div>
</nav>
</header>
<main id="content" class="content" role="main">
<div id="article" class="box ">