
                </div>
                <div class="col-md-3">
                    <div class="card mb-3">
                        <h5 class="card-header text-white bg-secondary">Hello</h5>
                        <div class="card-body">
                            <p class="center"><img src="/img/rush_headshot_2018_256-min.jpg" title="Rush Frisby" alt="Rush Frisby" width="213" height="213" /></p>
                            <p>Rush is a software architect who loves solving problems. You'll usually find him writing about security concepts and sharing solutions to problems he's faced.</p>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <h5 class="card-header text-white bg-secondary">Recent Posts</h5>
                        <div class="list-group list-group-flush">
                            <div class="list-group">
                                {{#each RecentPosts}}
                                <a href="/{{Slug}}" class="list-group-item list-group-item-action">{{Title}}</a>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" id="footer">
                <div class="col">
                    <p>Proudly <a href="https://github.com/rushfrisby/RushBlog" target="_blank">published with my own blog engine on github</a></p>
                </div>
            </div>
        </div>
    </body>
</html>
